<div class="groupmembers-content">
  <div *ngIf="(loading$ | async)">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <div *ngIf="error">{{error.message}}</div>
  <mat-list role="list" *ngIf="groupMembers">
    <div *ngFor="let group of groupMembers">
      <mat-list-item *ngFor="let member of group.users" role="listitem">
      <!-- <img matListAvatar class="avatar-image" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="avatar"> TODO Use person icon-->
      <h3 matLine>{{member.name}}</h3>
      <p matLine>{{member.username}}</p>
      <mat-chip-list>
        <mat-chip>{{getMemberType(group.groupname)}}</mat-chip>
      </mat-chip-list>
      <mat-divider></mat-divider>
    </mat-list-item>
    </div>
  </mat-list>
</div>


