<div class="groupmembers-content">
  <div *ngIf="(loading$ | async)">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <div *ngIf="error">{{error.message}}</div>
  <mat-list role="list" *ngIf="groupMembers">
    <div *ngIf="personRoles">
      <mat-list-item *ngFor="let personRole of personRoles | keyvalue" role="listitem">
      <!-- <img matListAvatar class="avatar-image" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="avatar"> TODO Use person icon-->
      <h3 matLine>{{nameLookup[personRole.key]}}</h3>
      <p matLine>{{personRole.key}}</p>
      <mat-chip-list *ngFor="let role of personRole.value">
        <mat-chip>{{role}}</mat-chip>
      </mat-chip-list>
      <mat-divider></mat-divider>
    </mat-list-item>
    </div>
  </mat-list>
</div>
