<h1 mat-dialog-title>Terms of Acceptable Use</h1>
<mat-dialog-content>
  <b>By using Centre for eResearch (CeR) services, you agree to:</b>
  <ul>
    <li>use CeR services for the purpose of undertaking research (not commercial<sup>*</sup>), commonly in association
      with a
      specific research project or programme</li>
    <li>undertake security maintenance on specific services (e.g., patching on Nectar Cloud Virtual Machines)</li>
    <li>work with CeR to review service settings (e.g., VM allocation or storage option) each year, or as required by a
      particular service, to ensure efficient and sustainable use</li>
    <li>participate in an annual user survey and provide details of research outputs supported by your use of CeR
      services
    </li>
    <li>these terms of acceptable use and the University’s IT Acceptable Use Policy and IT Security Policy</li>
    <small><i><sup>*</sup>Projects that have a commercial component have to be hosted on a separately licensed
        service.</i></small>

  </ul>

  <h2>Application</h2>

  <b>The CeR Acceptable Use applies to:</b>
  <ul>
    <li>all members of the University community whether at the University or elsewhere, and</li>
    <li>
      services that CeR provides, directly or indirectly through internal partners (e.g. Connect) and external partners
      (e.g. NeSI)
    </li>
  </ul>

  <h2>Eligibility</h2>
  <p>
    CeR services are available to doctoral students and University staff for the purposes of undertaking research,
    commonly a specific research project.
  </p>

  <h2>Suspension or withdrawal of services</h2>
  <p>
    Service users should expect email correspondence from CeR regarding specific requirements of acceptable use (e.g.,
    service review or need for security maintenance). Failure to abide to these terms and specific requirements may
    result in a suspension of service followed by a withdrawal of service.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>