<h2>Dashboard content</h2>
<a class="margin-right-l padding-bottom-s" (click)="logout()" routerLink="/home">Logout</a>
<div class="margin-top-l margin-left-m">
  <div>
    <h3>User Info</h3>
    <div *ngIf="userInfo" class="margin-top-l">
      <p>Name: {{userInfo.firstName}} {{userInfo.lastName}}</p>
      <p>UPI: {{userInfo.upi}}</p>
      <p>Email: {{userInfo.email}}</p>
      <p>Groups: {{userInfo.groups}}</p>
    </div>
    <div *ngIf="!userInfo && !(loading$ | async)" class="margin-top-l">
      Error: Could not get user info
    </div>
  </div>
</div>