<app-header 
  [title]="pageInfo.title"
  [description]="pageInfo.description"
  [imageUrl]="pageInfo.imageUrl">
</app-header>
<div class="project-container" fxLayout="row wrap">
  <div class="project-content">
    <div *ngIf="(loading$ | async)">
      <mat-spinner></mat-spinner>
    </div>

    <!-- project overview -->
    <mat-card *ngIf="project && !(loading$ | async)">
      <mat-card-title>{{project.title}}</mat-card-title>
      <mat-card-subtitle>Projects | Manage</mat-card-subtitle>
      <mat-card-content>
        <div class="project-members">
          <mat-chip-list aria-label="Project Members">
            <mat-chip *ngFor="let member of project.members" matTooltip="{{member.role.name}}">{{member.person.full_name}}</mat-chip>
          </mat-chip-list>
        </div>
        <p class="project-description">
          {{project.description}}
        </p>
      </mat-card-content>
    </mat-card>

    <!-- project details -->
    <mat-card *ngIf="project && !(loading$ | async)">
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="First">
            <ng-template matTabContent>
              Content 1
            </ng-template>
          </mat-tab>
          <mat-tab label="Second">
            <ng-template matTabContent>
              Content 2
            </ng-template>
          </mat-tab>
          <mat-tab label="Third">
            <ng-template matTabContent>
              Content 3
            </ng-template>
          </mat-tab>
          <mat-tab label="Fourth">
            <ng-template matTabContent>
              Content 4
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
