<div *ngIf="listFormat === projectMembersListFormatOptions.Chips">
  <mat-chip-list aria-label="Project Members">
    <mat-chip *ngFor="let person of nameLookup | keyvalue" matTooltip="{{personRoles[person.key].join(', ')}}">{{person.value}}</mat-chip>
  </mat-chip-list>
</div>

<div *ngIf="listFormat === projectMembersListFormatOptions.Detailed">
  <mat-list role="list">
    <mat-list-item *ngFor="let person of nameLookup | keyvalue" class="project-member" role="listitem">
      <img matListAvatar class="avatar-image" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="avatar">
      <h3 matLine>{{person.value}}</h3>
      <p matLine *ngFor="let division of divisionsLookup[person.key]">
        {{division.division}}, {{division.divisional_role.name}}
        <!-- TO DO: deal with external members -->
      </p>
      <p matLine>
        <mat-chip-list aria-label="Project Member Roles">
          <mat-chip>{{personRoles[person.key].join(', ')}}</mat-chip>
        </mat-chip-list>
      </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
