<footer ngClass.xs="footer-xs">
    <div class="footer-content" ngClass.xs="footer-content-xs" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center center">
      <div>
        <a [href]="aucklandUniUrl" target="_blank">
          <img class="logo-img" ngClass.xs="logo-img-xs" src="assets/imgs/uoa-logo.svg">
        </a>
      </div>

      <div fxLayout="row" fxLayout.xs="column">
        <a href="https://research-hub.auckland.ac.nz/#/feedback">Provide Feedback</a>
        <span fxHide.xs class="footer-divider">•</span>
        <a href="https://research-hub.auckland.ac.nz/#/contact">Contact</a>
        <span fxHide.xs class="footer-divider">•</span>
        <a href="https://research-hub.auckland.ac.nz/#/about">About</a>
        <span fxHide.xs class="footer-divider">•</span>
        <a [href]="disclaimerUrl" target="_blank">Disclaimer</a>
      </div>

      <a [href]="eResearchUrl" target="_blank">
        Copyright © {{getYear()}}, Centre for eResearch
      </a>
    </div>
  </footer>