<div class="grid-container">
  <h1 class="mat-h1">Access eResearch Services:</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">

      <mat-card class="dashboard-card">

        <mat-card-header class="dashboard-header">
          <div mat-card-avatar class="dashboard-header-image"></div>
          <mat-card-title>
            {{card.title}}
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
          </mat-card-title>
          <!-- <mat-card-subtitle>subtitle goes here</mat-card-subtitle> -->
        </mat-card-header>

        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->

        <mat-card-content class="dashboard-card-content">
          <p>{{card.content}}</p>
        </mat-card-content>

        <mat-card-actions align="end" class="dashboard-card-actions">
          <button mat-fab color="accent" routerLink="{{card.routerLink}}">
            <span class="material-icons">arrow_right_alt</span>
          </button>
        </mat-card-actions>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
