<div *ngFor="let project of projects">
  <mat-card class="projects-card">
    <mat-card-header>
      <mat-card-title>{{project.project.title}}</mat-card-title>
      <mat-card-subtitle>{{project.project.start_date | date}} - {{project.project.end_date | date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="project-members">
        <app-project-member-list [projectMembers]="project.project.members" [listFormat]="projectMembersListFormatOptions.Chips"></app-project-member-list>
      </div>
      <p class="project-description">
        {{project.project.description}}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="accent" (click)="openProject(project.project.id)">View</button>
    </mat-card-actions>
  </mat-card>
</div>
