@use "sass:math";
@import 'themes';
@import 'typography';

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: $font-family;
}

/*
 * Text styles
 https://material.angular.io/guide/typography
 */

h1 {
  margin-top: 0;
  color: $heading-1-font-color;
  font-family: $font-family;
}

h2 {
  color: $heading-2-font-color;
  font-family: $font-family;
}

h3 {
  color: $heading-3-font-color;
  font-family: $font-family;
  margin-top: 5px;
}

h4 {
  color: $heading-4-font-color;
  font-family: $font-family;
}

p {
  margin-top: 0;
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: $link-light-bg-color;
  font-family: $font-family;
}

span {
  font-family: $font-family;
}

.component {
  margin: $offset-gt-xs;
  max-width: $width-page-max;
}

.component-xs {
  @extend .component;
  margin: $offset-xs;
}

.flex-hack {
  flex: 1 1 auto !important; // For Safari
  //width: 100%; // For IE 11
}

.site-content {
  @extend .flex-hack;
  margin-left: auto;
  margin-right: auto;
  max-width: $width-page-max !important; // If not important then gets overidden by some fxLayout styles
}

.site-padding {
  @extend .site-content;
  margin-top: math.div($offset-xs, 2);
  margin-bottom: 5em;
  padding-top: $padding-site;
  padding-left: $padding-site;
  padding-right: $padding-site;
}

.site-padding-xs {
  @extend .site-content;
  margin-top: math.div($offset-xs, 2);
  margin-bottom: $offset-xs;
  padding-top: $offset-xs;
  padding-left: $offset-xs;
  padding-right: $offset-xs;
}

.site-padding-sm {
  @extend .site-content;
  margin-top: math.div($offset-xs, 2);
  margin-bottom: 5em;
  padding-top: math.div($padding-site, 2);
  padding-left: $padding-site;
  padding-right: $padding-site;
}

.site-content-padded {
  @extend .site-content;
  padding-top: 3em;
  padding-bottom: 3em;
}

.div-background-image {
  background-size: cover;
  background-position: center;
  width: 100%;
}

snack-bar-container.success {
  background-color: rgb(1, 129, 147, 0.9);
}

snack-bar-container.error {
  background-color: rgb(255, 61, 108, 0.9);
}

snack-bar-container.notification {
  color:white;
}

snack-bar-container > simple-snack-bar > div > button > span {
  color:white;
}
