@use 'sass:map';
@use '@angular/material' as mat;
@use 'themes' as *;

// https://material.angular.io/guide/typography

$font-family: "Noto Sans", sans-serif;

// All typography
$app-base-typography: mat.m2-define-typography-config(
  $font-family: $font-family,
  $headline-1:    mat.m2-define-typography-level(112px, 112px, 300),
  $headline-2:    mat.m2-define-typography-level(56px, 56px, 400),
  $headline-3:    mat.m2-define-typography-level(45px, 48px, 400),
  $headline-4:    mat.m2-define-typography-level(34px, 40px, 400),
  $headline-5:    mat.m2-define-typography-level(28px, 32px, 400), // <h1>
  $headline-6:    mat.m2-define-typography-level(24px, 28px, 500), // <h2>
  $subtitle-1:    mat.m2-define-typography-level(20px, 24px, 400), // <h3>
  $subtitle-2:    mat.m2-define-typography-level(16px, 20px, 400), // <h4>
  $body-2:        mat.m2-define-typography-level(16px, 24px, 500), // bolder body text
  $body-1:        mat.m2-define-typography-level(16px, 22px, 400), // base body text <p> ?
  $caption:       mat.m2-define-typography-level(12px, 20px, 400), // smaller body and hint text
  $button:        mat.m2-define-typography-level(14px, 14px, 500),
  $overline:      mat.m2-define-typography-level(12px, 32px, 500)
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include mat.all-component-typographies($app-base-typography);

/*

Colors

 */

$heading-1-font-color: map.get($dashboard-ui-pink, 500);
$heading-2-font-color: map.get($dashboard-ui-pink, 500);
$heading-3-font-color: map.get($dashboard-ui-pink, 500);
$heading-4-font-color: map.get($dashboard-ui-navy, 500);

$subheading-font-color: map.get($dashboard-ui-pink, 500); // used in results list

$body-light-bg-font-color:  black;
$link-light-bg-color: map.get($dashboard-ui-teal, 500);

$body-dark-bg-font-color:  white;
$link-dark-bg-color-1: map.get($dashboard-ui-teal, A100);
$link-dark-bg-color-2: $body-dark-bg-font-color;

$breadcrumb-previous-color: map.get($dashboard-ui-teal, A100);
$breadcrumb-current-color: white;

$browse-tile-font-color: $body-dark-bg-font-color;

$markdown-heading-color: $heading-2-font-color;
$markdown-subheading-color: $heading-3-font-color;



