<div class="project-container" fxLayout="row wrap">
  <div class="projects-content" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">
    <div *ngIf="(loading$ | async)">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="error">
      Error: {{error.message}}
    </div>
    
    <div *ngIf="projects && !(loading$ | async)">
      <div *ngFor="let project of projects">
        <mat-card class="projects-card">
          <mat-card-header>
            <mat-card-title>{{project.title}}</mat-card-title>
            <mat-card-subtitle>Project Id: {{project.id}}, {{project.start_date | date}} - {{project.end_date | date}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-flat-button color="accent" (click)="openProject(project.id)">View</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    
  </div>
</div>

